* {
    box-sizing: border-box;
}

:root {
    --bd-bg: #f4f1ec;
    --color: #222;
    --img-blank-bg: #ddd;

    --font: Roboto, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: var(--bd-bg);
    color: var(--color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1.5rem;
}

h1 {
    margin: 0;
    font-size: 2rem; /* redundant? twas 2em initially */
}

img {
    width: min(26.25rem, 100%);
    min-height: 16.25rem;
    object-fit: cover;
    border-radius: 8px;
    background: var(--img-blank-bg);
    border: 3px solid var(--color);
}

input {
    width: min(26.25rem, 100%);
    padding: 0.75rem 0.875rem;
    font-size: 1rem;
    border: 2px solid var(--color);
    border-radius: 6px;
}

button {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;

    border: 2px solid var(--color);
    border-radius: 6px;
    background: #3894fc;
    color: white;

    cursor: pointer;
}

button:hover {
  background-color: #1f7ae0;
}